html{
    scroll-behavior:smooth;
}
#sectionHome{
    background-color:#F5F5F5;
    height:100%;
}
#sectionAbout{
    background-color:#F5F5F5;
    height:100%;
}
#sectionServices{
    background-color:#F5F5F5;
    height:100%;
}
.Background-Container{
    background-image:url("https://res.cloudinary.com/doxjkpn5a/image/upload/v1726210978/1-32_q0qdk5.jpg");
    background-size:cover;
    height:90vh;
}
.Main-Heading{
    font-family:"Roboto";
    font-weight:bold;
    font-size:44px;
    color:#ffffff;
}
.Navbar-Background-Color{
    background-color:transparent;
    transition:0.3s ease-in;
}
.Navbar-Background-Color.scrolled{
    background-color:#4A148C !important;
}
hr {
    border-width: 3px;
    width: 30%;
}
.About-Heading {
    font-family: "Bree Serif";
    color: #333333;
    font-weight: bold;
    font-size: 34px;
}
.Card-Container {
    background-color: #E8E8E8;
    height: 100%;
    width:100%;
}
.Card-Heading {
    font-family: "Bree Serif";
    font-weight: bold;
    color: #006666;
    font-size: 24px;
}
.Card-Image {
    width: 100%;
}
.Card-Paragraph {
    font-family: "Roboto";
    color: #757575;
    font-size: 16px;
}
.Card-Paragraph-2{
    font-family: "Roboto";
    color: #757575;
    font-size: 18px;
    font-weight:bold;

}

.Card-Bold {
    font-weight: bold;
}
.Background-Container-1{
    background-image:url("https://res.cloudinary.com/doxjkpn5a/image/upload/v1726210978/1-32_q0qdk5.jpg");
    background-size:cover;
    height:100vh;
}
.Card-Button{
    color:#ffffff;
}

.Footer-Section{
    background-color: #4A148C;
    height: 100%;
}
.Footer-Heading{
    font-family:"Bree Serif";
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
}
.Footer-Paragraph{
    font-family:"Roboto";
    color:#D3D3D3;
    font-size:10px;
}
.Footer-Icons{
    color:#ffffff ;
}
.Footer-Card{
    background-color:#F0F8FF;
}
.Footer-Card-Heading{
    font-family:"Bree Serif";
    color:#333333;
    font-size:18px;
}
.Footer-HR{
    background-color:#ffffff;
    width:100%
}   
.Nav-Logo-Title {
    font-family: "Bree Serif";
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.Button{
    margin-bottom:5px;
    margin-left:5px;
    background-color:#4A148C;
}
.Button-1{
    margin-top:48px;
    margin-left:5px;
    background-color:#4A148C;
}
  